body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1d1d1d;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thu nhỏ thanh cuộn dọc (phía bên phải) */
::-webkit-scrollbar {
  width: 7px;
  background-color: #0f0f0f;
}

/* Thay đổi màu nền của thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #717171;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 8px;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.hide-scrollbar:hover::-webkit-scrollbar {
  width: 7px;
  background-color: #0f0f0f;
}
.hide-scrollbar-x::-webkit-scrollbar {
  height: 0;
  background-color: transparent;
  overflow-x: auto;
}
.hide-scrollbar-y::-webkit-scrollbar {
  height: 0;
  background-color: transparent;
  overflow-y: auto;
}
.bg_liked {
  background: #181816;
  background: -moz-linear-gradient(top, #181816 0%, #cbcac9 53%, #ffffff 100%);
  background: -webkit-linear-gradient(
    top,
    #181816 0%,
    #cbcac9 53%,
    #ffffff 100%
  );
  background: linear-gradient(to bottom, #181816 0%, #cbcac9 53%, #ffffff 100%);
}

.ok-button {
  background-color: #3f3f3f !important;
  color: white;
  border-color: #3f3f3f;
}
.ok-button:hover {
  background-color: #282828 !important;
  color: white;
  border-color: #282828;
}
.cancel-button {
  border-color: #3f3f3f;
}
.cancel-button:hover {
  border-color: #282828;
}
